---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import HeadingWithBackground from "../../components/HeadingWithBackground.astro";
import WhosWhoPersonRow from "../../components/WhosWhoPersonRow.astro";
import WhosWhoPersonCard from "../../components/WhosWhoPersonCard.astro";
import { roles, type Person } from '../../utility/constants'

const executive: Array<{ title: string; person: Person }> = [
	{ title: "President", person: roles.president },
	{ title: "Vice President", person: roles.vicePresident },
	{ title: "Treasurer", person: roles.treasurer },
	{ title: "Secretary", person: roles.secretary },
	{ title: "Past President", person: roles.pastPresident },
];

const directors: Array<{ title: string; person: Person }> = [
	{ title: "Editor", person: roles.editor },
	{ title: "Membership", person: roles.membership },
	{ title: "Program Co-Ordinator", person: roles.programCoordinator },
	{ title: "Field Trip Co-Ordinator", person: roles.fieldTripCoordinator },
]

const committees: Array<{ title: string; person: Person }> = [
	{ title: "Fossil Collection", person: roles.fossilCollection },
	{ title: "Librarian", person: roles.librarian },
	{ title: "Social", person: roles.social },
	{ title: "Public Outreach / Education", person: roles.publicOutreach },
	{ title: "Website", person: roles.webmaster },
	{ title: "APS Symposium", person: roles.symposium },
];
---

<Layout subtitle="Who's Who?">
	<HeadingWithBackground
		background="/headingBackgrounds/upperKananaskisShale1.jpg"
	>
		<h1>Who's Who?</h1>
	</HeadingWithBackground>

	<p>
		Welcome to the "Who's Who" page of the Alberta Palaeontological Society!
		Here, you'll discover the dedicated individuals who drive our society's
		mission forward. The following includes our passionate directors and
		committee heads, each contributing their unique expertise and enthusiasm
		to the world of palaeontology.
	</p>

	<p>
		We're always eager to expand our team and welcome fresh perspectives. If
		you share our love for palaeontology and want to be a part of our
		exciting journey, consider <a href="/about/volunteers/"
			>joining us as a volunteer!</a
		> By becoming a part of the Alberta Palaeontological Society, you'll have
		the chance to make a meaningful impact and contribute to the fascinating
		world of prehistoric discovery.
	</p>

	<section>
		<h2>Executive</h2>
		<div class="mobile">
			{
				executive.map(({ title, person }) => {
					return <WhosWhoPersonCard title={title} person={person} />;
				})
			}
		</div>
		<table class="desktop">
			<thead>
				<tr>
					<th scope="column"> Title</th>
					<th scope="column"> Name</th>
					<th scope="column"> Email</th>
					<th scope="column"> Telephone</th>
				</tr>
			</thead>
			<tbody>
				{
					executive.map(({ title, person }) => {
						return (
							<WhosWhoPersonRow title={title} person={person} />
						);
					})
				}
			</tbody>
		</table>
	</section>

	<section>
		<h2>Directors</h2>

		<table class="desktop">
			<thead>
				<tr>
					<th scope="column"> Title</th>
					<th scope="column"> Name</th>
					<th scope="column"> Email</th>
					<th scope="column"> Telephone</th>
				</tr>
			</thead>
			<tbody>
				{
					directors.map(({ title, person }) => {
						return (
							<WhosWhoPersonRow title={title} person={person} />
						);
					})
				}
			</tbody>
		</table>
		<div class="mobile">
			{
				directors.map(({ title, person }) => {
					return <WhosWhoPersonCard title={title} person={person} />;
				})
			}
		</div>
	</section>

	<section>
		<h2>Committees</h2>

		<table class="desktop">
			<thead>
				<tr>
					<th scope="column"> Title</th>
					<th scope="column"> Name</th>
					<th scope="column"> Email</th>
					<th scope="column"> Telephone</th>
				</tr>
			</thead>
			<tbody>
				{
					committees.map(({ title, person }) => {
						return (
							<WhosWhoPersonRow title={title} person={person} />
						);
					})
				}
			</tbody>
		</table>
		<div class="mobile">
			{
				committees.map(({ title, person }) => {
					return <WhosWhoPersonCard title={title} person={person} />;
				})
			}
		</div>
	</section>
</Layout>

<style>
	table {
		width: 100%;
		border-collapse: collapse;
	}
	thead {
		border-bottom: var(--theme-spacing-base) solid
			var(--background-colour-darker);
	}
	.desktop {
		visibility: hidden;
		display: none;
	}

	/* Desktop */
	@media screen and (min-width: 768px) {
		.desktop {
			visibility: visible;
			display: revert;
		}
		.mobile {
			visibility: hidden;
			display: none;
		}
	}
</style>
