---
import Layout from "../../layouts/Layout.astro";
import HeadingWithBackground from "../../components/HeadingWithBackground.astro";
import EmailLink from "../../components/EmailLink.astro";
import { THREE_D_SCAN_LOCATION } from '../../utility/constants.ts'
import { getCollection } from 'astro:content'
import ThreeDScanDialog from '../../components/ThreeDScanDialog.astro'

const fossils = await getCollection('fossils')
---

<Layout subtitle="Fossil Collection">
	<HeadingWithBackground background="/headingBackgrounds/tinyFossil1.jpg">
		<h2>Fossil Collection</h2>
	</HeadingWithBackground>
	<p>
		The APS fossil collection includes vertebrates, invertebrates, plants,
		and ichnofossils (tracks), primarily from Alberta, but also from other
		areas of North America. The collection has been in existence since the
		late 1980s.
	</p>
	<p>
		The APS Fossil Collection is available to members for viewing, for
		comparative study in identification of your own fossils or for use in
		educational undertakings. From time to time it is also used for displays
		at the annual APS Symposium and at the Calgary Rock and Lapidary Club
		show.
	</p>
	<p>
		The collection is properly indexed in a database managed by the APS
		Curator.
	</p>
	<p>
		For inquiries about the collection, about the listing of the fossils, or
		access to the collection, please contact the Curator, Howard Allen as
		follows:
	</p>
	<address>
		<p>
			Howard Allen,
			<br />
			c/o Alberta Palaeontological Society
			<br />
			P.O. Box 68024, Crowfoot Postal Outlet
			<br />
			Calgary, Alberta &nbsp;T3G 3N8
			<br />
			Canada
		</p>
	</address>
	<p>or</p>
	<address>
		<p>
			Howard Allen <br />
			7828 Hunterslea Cr., N.W. <br />
			Calgary, Alberta &nbsp;T2K 4M2 <br />
			Canada <br />
			Ph. 403-274-1858
		</p>
	</address>
	<p>Viewing must be arranged ahead of time!</p>
	<p>
		You may also E-mail the editor at{" "}
		<EmailLink email="editor2@albertapaleo.org" />.
	</p>
	<p>
		Donations are currently not being accepted due to storage limitations.
	</p>

	<h3>Digital Collection</h3>

	<p>We are working on getting our extensive collections digitized! Please check back here regularly for progress.</p>
	<p>For instructions on how to view the 3D scans, please see <a href="https://youtu.be/q0vlIolfglg">this video</a>.</p>

{ fossils.length > 0 ? 
<table>
	<thead>
		<tr>
			<th scope="col">Accession Number</th>
			<th scope="col">Description</th>
			<th scope="col">
				Identification
			</th>
			<th scope="col">
				Formation
			</th>
			<th scope="col">
				Time Span
			</th>
			<th scope="col">
				Locality
			</th>
			<th scope="col">Scans</th>
		</tr>
	</thead>
	<tbody>
		{
			fossils.map(fossil => <tr>
				<td>{fossil.id.toUpperCase()}</td>
				<td>{fossil.data.description}</td>
				<td>{fossil.data.identification || "Unknown"}</td>
				<td>{fossil.data.formation || "Unknown"}</td>
				<td>{fossil.data.timespan || "Unknown"}</td>
				<td>{fossil.data.locality || "Unknown"}</td>
				<td>{(fossil.data.threeDScans || []).map((scan, index, allScans) => <ThreeDScanDialog accessionNumber={fossil.id} filename={scan.filename} attribution={scan.attribution} description={fossil.data.description} index={index} total={allScans.length} />)}</td>
			</tr>)
		}
	</tbody>
</table>
: null }

</Layout>

<style>
	table {
		/* width: 100%; */
		border-collapse: collapse;
		overflow-x: scroll;
	}
	thead {
		border-bottom: var(--theme-spacing-base) solid
			var(--background-colour-darker);
	}
	td {
		padding-bottom: calc(2 * var(--theme-spacing-base));
		padding-left: 0;
		padding-right: 0;
		vertical-align: middle;
	}
	tr {
		transition: background-color var(--transition-speed-medium);
	}
	tr:hover {
		background-color: var(--background-colour-dark);
	}
	td {
		padding-left: calc(2 * var(--theme-spacing-base));
		padding-right: calc(2 * var(--theme-spacing-base));
	}
</style>
