---
import { links, pathMatchesDestination } from "../utility";

const path = new URL(Astro.request.url).pathname;
const matchesDestination = (destination: string) => {
	return pathMatchesDestination(path, destination);
};
---

<ul>
	{
		links.map(({ destination, label, subheadings }) => {
			const classList = [];
			if (subheadings) {
				classList.push("subheadings-present");
			}
			return (
				<details>
					<summary class:list={classList}>
						<a
							class:list={
								matchesDestination(destination)
		  ? ["active", "reset-link-style"]
									: ["reset-link-style"]
							}
							href={destination}
						>
							{label}
						</a>
					</summary>
					{subheadings && (
						<ul>
							{subheadings.map(
								({
									destination: subDestination,
									label: subLabel,
								}) => (
									<li
										class:list={
											matchesDestination(subDestination)
												? ["active"]
												: []
										}
									>
										<a class="reset-link-style" href={subDestination}>{subLabel}</a>
									</li>
								)
							)}
						</ul>
					)}
				</details>
			);
		})
	}
</ul>

<style>
	ul {
		list-style-type: none;
		margin-left: calc(3 * var(--theme-spacing-base));
	}

	/* Styling the summary / details view */
	summary {
		display: block;
	}

	summary.subheadings-present::after {
		/* margin-left: var(--theme-spacing-base); */
		display: inline-block;
		content: "\2192";
		transition: var(--transition-speed-medium);
		font-size: 1.3rem;
		font-weight: bold;
	}

	details[open] summary::after {
		transform: rotate(90deg);
	}
	details {
		margin: 4px 0;
	}
	/* End summary / details view styling */

	details a {
		margin: calc(2 * var(--theme-spacing-base))
			calc(1 * var(--theme-spacing-base));
		padding: 0px var(--theme-spacing-base);
		/* display: block; */
		transition: background-color var(--transition-speed-medium);
		border-radius: var(--border-radius-medium);
		text-decoration: none;
		color: inherit;
		font-size: 1.3rem;
		font-weight: bold;
	}

	details a:hover {
		background-color: var(--background-colour-dark);
	}

	li {
		margin-top: calc(2 * var(--theme-spacing-base));
	}
	li a {
		font-size: 1rem;
		margin-top: calc(var(--theme-spacing-base));
		font-weight: bold;
	}

	/* Styling the active part of the path */
	.active {
		text-decoration-line: underline;
		text-decoration-color: var(--background-colour-darker);
		text-decoration-thickness: var(--theme-spacing-base);
	}
</style>
