---
interface Props {
	size?: number;
}
import { SOCIAL_MEDIA_LINKS } from '../utility/constants';

const { size = 1 } = Astro.props;
---

<div id="socials-container">
	<a  href={SOCIAL_MEDIA_LINKS.mastodon} rel="me">
		<img class="socials-logo" src="/logos/socials/mastodon-logo-purple.svg" alt="Mastodon Logo" />
	</a>
	<a  href={SOCIAL_MEDIA_LINKS.instagram}>
		<img class="socials-logo" src="/logos/socials/Instagram_Glyph_Gradient.png" alt="Instgram Logo" />
	</a>
	<a  href={SOCIAL_MEDIA_LINKS.facebook}>
		<img class="socials-logo" src="/logos/socials/Facebook_Logo_Primary.png" alt="Facebook Logo" />
	</a>
	<a  href={SOCIAL_MEDIA_LINKS.youtube}>
		<img class="socials-logo" src="/logos/socials/youtube_social_icon_red.png" alt="Facebook Logo" />
	</a>
</div>

<style define:vars={{size}}>
	#socials-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: calc(var(--size) * var(--theme-spacing-base));
	}

	.socials-logo {
		margin: 0 0.5rem;
		max-width: calc(var(--size) * 2rem);
		max-height: calc(var(--size) * 2rem);
	}
</style>
