---
interface Props {
	day: number;
	events: Array<{
		startDate: string; // YYYY-MM-DD
		endDate: string; // YYYY-MM-DD
		title: string;
		id: string;
		type: string;
	}>;
}
const {day, events} = Astro.props;
const getEventClass = (eventType: string) => {
	switch (eventType) {
    case 'Monthly Meeting':
		return 'event-monthly-meeting';
    case 'Symposium':
		return 'event-symposium';
    case 'Field Trip':
		return 'event-field-trip';
    case 'Special Joint Meeting of the APS and the CSPG BASS Division':
		return 'event-default';
    case 'Fossil Sorting':
		return 'event-fossil-sorting';
    case 'External':
		return 'event-external'
	default:
		return 'event-default'
	}
};
---

<div class="event-calendar-day-cell">
	<span class="day-number">
		{day}
	</span>
{
	events.map((event) => {
		const {id, title} = event;
		const classes = ['event-title', getEventClass(event.type)];
		const classAttr = classes.join(' ');
		if (id) {
			return <a href={`#${id}`} class={classAttr}>{title}</a>
		} 
		return (<div class={classAttr}>{event.title}</div>)
	})
}
</div>

<style>
	.event-calendar-day-cell {
		aspect-ratio: 1 / 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.day-number {
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
	.event-title {
		padding: calc(0.5 * var(--theme-spacing-base));
		border-radius: var(--border-radius-medium);
		color: inherit;
		text-decoration: none;
		transition: background-color var(--transition-speed-medium) ease;
	}
	.event-monthly-meeting {
		background-color: var(--accent-colour-1-medium);
	}
	.event-monthly-meeting:hover {
		background-color: var(--accent-colour-1-light);
	}
	.event-field-trip {
		background-color: var(--accent-colour-2-light);
	}
	.event-field-trip:hover {
		background-color: var(--accent-colour-2-lighter);
	}
	.event-symposium {
		background-color: var(--accent-colour-2-light);
	}
	.event-symposium:hover {
		background-color: var(--accent-colour-2-lighter);
	}
	.event-fossil-sorting {
		background-color: var(--accent-colour-3-light);
	}
	.event-fossil-sorting:hover {
		background-color: var(--accent-colour-3-lighter);
	}
	.event-external {
		background-color: var(--background-colour-dark);
	}
	.event-external:hover {
		background-color: var(--background-colour-medium);
	}
	.event-default {
		background-color: var(--background-colour-dark);
	}
	.event-default:hover {
		background-color: var(--background-colour-medium);
	}
</style>
