---
import { getEventTypeClass } from './utility'
interface Props {
	day: number;
	events: Array<{
		startDate: string; // YYYY-MM-DD
		endDate: string; // YYYY-MM-DD
		title: string;
		id: string;
		type: string;
	}>;
}
const {day, events} = Astro.props;
---

<div class="event-calendar-day-cell">
	<span class="day-number">
		{day}
	</span>
{
	events.map((event) => {
		const {id, title} = event;
		const classes = ['event-title', getEventTypeClass(event.type)];
		const classAttr = classes.join(' ');
		if (id) {
		return <a href={`#${id}`} class:list={['no-underline-effect', classAttr]}>{title}</a>
		} 
		return (<div class={classAttr}>{event.title}</div>)
	})
}
</div>

<style>
	.event-calendar-day-cell {
		aspect-ratio: 1 / 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.day-number {
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
	.event-title {
		padding: calc(0.5 * var(--theme-spacing-base));
		border-radius: var(--border-radius-medium);
		color: inherit;
		text-decoration: none;
		transition: background-color var(--transition-speed-medium) ease;
	}
</style>
